# Replace Primary Dataset with Multiple Smaller Datasets

## Import Requirements

In [1]:
import numpy as np
import pandas as pd
import os

## Read in Dataset

In [2]:
os.listdir('../datasets')

['home_value_data.csv']

In [3]:
df = pd.read_csv('../datasets/home_value_data.csv')
df.head()

,zip_code,city,state,metro,county,date,value
0,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-04,334200.0
1,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-05,335400.0
2,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-06,336500.0
3,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-07,337600.0
4,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1996-08,338500.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4202944 entries, 0 to 4202943
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   zip_code  int64
 1   city      object
 2   state     object
 3   metro     object
 4   county    object
 5   date      object
 6   value     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 224.5+ MB

## Convert Necessary Data Types

In [5]:
df.zip_code = df.zip_code.astype(str)

## Separate Primary Dataset Into Smaller Datasets

In [6]:
# Create lists for new dataset names, and starting and ending points for indexing
dfs = []
start = []
end = []

for i in range(0, len(df), 500000):
    x, y = i, (i + 500001)
    start.append(x)
    end.append(y)
    new_df = 'df_' + str(y)
    dfs.append(new_df)

In [7]:
# Confirm success
print(dfs)
print(start)
print(end)

['df_500001', 'df_1000001', 'df_1500001', 'df_2000001', 'df_2500001', 'df_3000001', 'df_3500001', 'df_4000001', 'df_4500001']
[0, 500000, 1000000, 1500000, 2000000, 2500000, 3000000, 3500000, 4000000]
[500001, 1000001, 1500001, 2000001, 2500001, 3000001, 3500001, 4000001, 4500001]

In [8]:
# Convert DataFrame names from string format in the dfs list into variable names and assign them to the new DataFrames by slicing
# the primary DataFrame using the start and end points defined in the start and end lists
for i in range(0, len(dfs)):
    temp_var = dfs[i]
    item = exec(temp_var + '= df[start[i]: end[i]]')

In [9]:
# Create a list of the new DataFrames to confirm success and save to CSV files to be imported into PostgreSQL
list_of_new_dfs = [df_500001, df_1000001, df_1500001, df_2000001, df_2500001, df_3000001, df_3500001, df_4000001, df_4500001]

In [10]:
# Confirm success
print(list_of_new_dfs)

[       zip_code     city state                        metro         county  \
0         60657  Chicago    IL     Chicago-Naperville-Elgin    Cook County
1         60657  Chicago    IL     Chicago-Naperville-Elgin    Cook County
2         60657  Chicago    IL     Chicago-Naperville-Elgin    Cook County
3         60657  Chicago    IL     Chicago-Naperville-Elgin    Cook County
4         60657  Chicago    IL     Chicago-Naperville-Elgin    Cook County
...         ...      ...   ...                          ...            ...
499996    75075    Plano    TX  Dallas-Fort Worth-Arlington  Collin County
499997    75075    Plano    TX  Dallas-Fort Worth-Arlington  Collin County
499998    75075    Plano    TX  Dallas-Fort Worth-Arlington  Collin County
499999    75075    Plano    TX  Dallas-Fort Worth-Arlington  Collin County
500000    75075    Plano    TX  Dallas-Fort Worth-Arlington  Collin County

           date     value
0       1996-04  334200.0
1       1996-05  335400.0
2       1996-06  336500.0
3       1996-07  337600.0
4       1996-08  338500.0
...         ...       ...
499996  2001-04  158700.0
499997  2001-05  158600.0
499998  2001-06  158600.0
499999  2001-07  158700.0
500000  2001-08  159000.0

[500001 rows x 7 columns],         zip_code       city state                        metro  \
500000     75075      Plano    TX  Dallas-Fort Worth-Arlington
500001     75075      Plano    TX  Dallas-Fort Worth-Arlington
500002     75075      Plano    TX  Dallas-Fort Worth-Arlington
500003     75075      Plano    TX  Dallas-Fort Worth-Arlington
500004     75075      Plano    TX  Dallas-Fort Worth-Arlington
...          ...        ...   ...                          ...
999996     92124  San Diego    CA           San Diego-Carlsbad
999997     92124  San Diego    CA           San Diego-Carlsbad
999998     92124  San Diego    CA           San Diego-Carlsbad
999999     92124  San Diego    CA           San Diego-Carlsbad
1000000    92124  San Diego    CA           San Diego-Carlsbad

                   county     date     value
500000      Collin County  2001-08  159000.0
500001      Collin County  2001-09  159400.0
500002      Collin County  2001-10  159900.0
500003      Collin County  2001-11  160500.0
500004      Collin County  2001-12  161100.0
...                   ...      ...       ...
999996   San Diego County  2006-08  652200.0
999997   San Diego County  2006-09  647400.0
999998   San Diego County  2006-10  643100.0
999999   San Diego County  2006-11  639100.0
1000000  San Diego County  2006-12  635000.0

[500001 rows x 7 columns],         zip_code         city state                      metro  \
1000000    92124    San Diego    CA         San Diego-Carlsbad
1000001    92124    San Diego    CA         San Diego-Carlsbad
1000002    92124    San Diego    CA         San Diego-Carlsbad
1000003    92124    San Diego    CA         San Diego-Carlsbad
1000004    92124    San Diego    CA         San Diego-Carlsbad
...          ...          ...   ...                        ...
1499996    21158  Westminster    MD  Baltimore-Columbia-Towson
1499997    21158  Westminster    MD  Baltimore-Columbia-Towson
1499998    21158  Westminster    MD  Baltimore-Columbia-Towson
1499999    21158  Westminster    MD  Baltimore-Columbia-Towson
1500000    21158  Westminster    MD  Baltimore-Columbia-Towson

                   county     date     value
1000000  San Diego County  2006-12  635000.0
1000001  San Diego County  2007-01  630600.0
1000002  San Diego County  2007-02  625200.0
1000003  San Diego County  2007-03  618900.0
1000004  San Diego County  2007-04  611600.0
...                   ...      ...       ...
1499996    Carroll County  2011-12  241300.0
1499997    Carroll County  2012-01  240600.0
1499998    Carroll County  2012-02  240600.0
1499999    Carroll County  2012-03  241500.0
1500000    Carroll County  2012-04  242000.0

[500001 rows x 7 columns],         zip_code         city state                      metro  \
1500000    21158  Westminster    MD  Baltimore-Columbia-Towson
1500001    21158  Westminster    MD  Baltimore-Columbia-Towson
1500002    21158  Westminster    MD  Baltimore-Columbia-Towson
1500003    21158  Westminster    MD  Baltimore-Columbia-Towson
1500004    21158  Westminster    MD  Baltimore-Columbia-Towson
...          ...          ...   ...                        ...
1999996    99611        Kenai    AK                        NaN
1999997    99611        Kenai    AK                        NaN
1999998    99611        Kenai    AK                        NaN
1999999    99611        Kenai    AK                        NaN
2000000    99611        Kenai    AK                        NaN

                          county     date     value
1500000           Carroll County  2012-04  242000.0
1500001           Carroll County  2012-05  241400.0
1500002           Carroll County  2012-06  240600.0
1500003           Carroll County  2012-07  240500.0
1500004           Carroll County  2012-08  241000.0
...                          ...      ...       ...
1999996  Kenai Peninsula Borough  2017-04  229500.0
1999997  Kenai Peninsula Borough  2017-05  233100.0
1999998  Kenai Peninsula Borough  2017-06  236500.0
1999999  Kenai Peninsula Borough  2017-07  237800.0
2000000  Kenai Peninsula Borough  2017-08  238100.0

[500001 rows x 7 columns],         zip_code          city state     metro                   county  \
2000000    99611         Kenai    AK       NaN  Kenai Peninsula Borough
2000001    99611         Kenai    AK       NaN  Kenai Peninsula Borough
2000002    99611         Kenai    AK       NaN  Kenai Peninsula Borough
2000003    99611         Kenai    AK       NaN  Kenai Peninsula Borough
2000004    99611         Kenai    AK       NaN  Kenai Peninsula Borough
...          ...           ...   ...       ...                      ...
2499996    54140  Little Chute    WI  Appleton         Outagamie County
2499997    54140  Little Chute    WI  Appleton         Outagamie County
2499998    54140  Little Chute    WI  Appleton         Outagamie County
2499999    54140  Little Chute    WI  Appleton         Outagamie County
2500000    54140  Little Chute    WI  Appleton         Outagamie County

            date     value
2000000  2017-08  238100.0
2000001  2017-09  238200.0
2000002  2017-10  238400.0
2000003  2017-11  238500.0
2000004  2017-12  238300.0
...          ...       ...
2499996  1999-12  102000.0
2499997  2000-01  102000.0
2499998  2000-02  102100.0
2499999  2000-03  102100.0
2500000  2000-04  102200.0

[500001 rows x 7 columns],         zip_code          city state                    metro  \
2500000    54140  Little Chute    WI                 Appleton
2500001    54140  Little Chute    WI                 Appleton
2500002    54140  Little Chute    WI                 Appleton
2500003    54140  Little Chute    WI                 Appleton
2500004    54140  Little Chute    WI                 Appleton
...          ...           ...   ...                      ...
2999996    98251      Gold Bar    WA  Seattle-Tacoma-Bellevue
2999997    98251      Gold Bar    WA  Seattle-Tacoma-Bellevue
2999998    98251      Gold Bar    WA  Seattle-Tacoma-Bellevue
2999999    98251      Gold Bar    WA  Seattle-Tacoma-Bellevue
3000000    98251      Gold Bar    WA  Seattle-Tacoma-Bellevue

                   county     date     value
2500000  Outagamie County  2000-04  102200.0
2500001  Outagamie County  2000-05  102300.0
2500002  Outagamie County  2000-06  102400.0
2500003  Outagamie County  2000-07  102500.0
2500004  Outagamie County  2000-08  102700.0
...                   ...      ...       ...
2999996  Snohomish County  2005-04  193200.0
2999997  Snohomish County  2005-05  195600.0
2999998  Snohomish County  2005-06  198300.0
2999999  Snohomish County  2005-07  201300.0
3000000  Snohomish County  2005-08  204400.0

[500001 rows x 7 columns],         zip_code      city state                    metro            county  \
3000000    98251  Gold Bar    WA  Seattle-Tacoma-Bellevue  Snohomish County
3000001    98251  Gold Bar    WA  Seattle-Tacoma-Bellevue  Snohomish County
3000002    98251  Gold Bar    WA  Seattle-Tacoma-Bellevue  Snohomish County
3000003    98251  Gold Bar    WA  Seattle-Tacoma-Bellevue  Snohomish County
3000004    98251  Gold Bar    WA  Seattle-Tacoma-Bellevue  Snohomish County
...          ...       ...   ...                      ...               ...
3499996    77702  Beaumont    TX     Beaumont-Port Arthur  Jefferson County
3499997    77702  Beaumont    TX     Beaumont-Port Arthur  Jefferson County
3499998    77702  Beaumont    TX     Beaumont-Port Arthur  Jefferson County
3499999    77702  Beaumont    TX     Beaumont-Port Arthur  Jefferson County
3500000    77702  Beaumont    TX     Beaumont-Port Arthur  Jefferson County

            date     value
3000000  2005-08  204400.0
3000001  2005-09  207400.0
3000002  2005-10  210200.0
3000003  2005-11  212600.0
3000004  2005-12  214900.0
...          ...       ...
3499996  2010-08   86300.0
3499997  2010-09   85900.0
3499998  2010-10   85300.0
3499999  2010-11   84500.0
3500000  2010-12   84000.0

[500001 rows x 7 columns],         zip_code            city state                 metro  \
3500000    77702        Beaumont    TX  Beaumont-Port Arthur
3500001    77702        Beaumont    TX  Beaumont-Port Arthur
3500002    77702        Beaumont    TX  Beaumont-Port Arthur
3500003    77702        Beaumont    TX  Beaumont-Port Arthur
3500004    77702        Beaumont    TX  Beaumont-Port Arthur
...          ...             ...   ...                   ...
3999996    43045  Milford Center    OH              Columbus
3999997    43045  Milford Center    OH              Columbus
3999998    43045  Milford Center    OH              Columbus
3999999    43045  Milford Center    OH              Columbus
4000000    43045  Milford Center    OH              Columbus

                   county     date     value
3500000  Jefferson County  2010-12   84000.0
3500001  Jefferson County  2011-01   83900.0
3500002  Jefferson County  2011-02   84400.0
3500003  Jefferson County  2011-03   84600.0
3500004  Jefferson County  2011-04   83500.0
...                   ...      ...       ...
3999996      Union County  2015-12  131700.0
3999997      Union County  2016-01  131400.0
3999998      Union County  2016-02  131700.0
3999999      Union County  2016-03  133900.0
4000000      Union County  2016-04  136800.0

[500001 rows x 7 columns],         zip_code            city state                         metro  \
4000000    43045  Milford Center    OH                      Columbus
4000001    43045  Milford Center    OH                      Columbus
4000002    43045  Milford Center    OH                      Columbus
4000003    43045  Milford Center    OH                      Columbus
4000004    43045  Milford Center    OH                      Columbus
...          ...             ...   ...                           ...
4202939    89155        Mesquite    NV  Las Vegas-Henderson-Paradise
4202940    89155        Mesquite    NV  Las Vegas-Henderson-Paradise
4202941    89155        Mesquite    NV  Las Vegas-Henderson-Paradise
4202942    89155        Mesquite    NV  Las Vegas-Henderson-Paradise
4202943    89155        Mesquite    NV  Las Vegas-Henderson-Paradise

               county     date     value
4000000  Union County  2016-04  136800.0
4000001  Union County  2016-05  139800.0
4000002  Union County  2016-06  143700.0
4000003  Union County  2016-07  146700.0
4000004  Union County  2016-08  146600.0
...               ...      ...       ...
4202939  Clark County  2018-07  353400.0
4202940  Clark County  2018-08  356700.0
4202941  Clark County  2018-09  360200.0
4202942  Clark County  2018-10  364100.0
4202943  Clark County  2018-11  367600.0

[202944 rows x 7 columns]]

## Replace Original Primary Dataset with New Datasets

In [11]:
# Include the loop iteration in each file's name
n = 1

for new_df in list_of_new_dfs:
    new_df.to_csv('../datasets/home_value_data_' + str(n) + '.csv', index=False)
    n += 1

# Remove
os.remove('../datasets/home_value_data.csv')